<div class="mars"></div>
<img src="https://assets.codepen.io/1538474/404.svg" class="logo-404" />
<img src="https://assets.codepen.io/1538474/meteor.svg" class="meteor" />
<p class="title">Oh Mos!!</p>
<p class="subtitle">
  Ndoshta kemi ardhur ne mars <br /> Kliko ne button qe te kthehemi ne toke
</p>
<div align="center">
  <button class="btn-back" mat-button routerLink="/">Kthehu </button>
</div>
<img src="https://assets.codepen.io/1538474/astronaut.svg" class="astronaut" />
<img src="https://assets.codepen.io/1538474/spaceship.svg" class="spaceship" />
