 <div class="card card-body modifcard">
  <div class="column1">
    <table>
      <tr>
        <td>
          <mat-form-field  appearance="fill">
            <mat-label>Emri </mat-label>
            <input type="text"
                   value="{{emri}}"
                   matInput>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field appearance="fill">
            <mat-label>Mbiemri</mat-label>
            <input type="text"
                   value="{{mbiemri}}"
                   matInput >
          </mat-form-field>
        </td>
      </tr>

      <tr>
        <td>
          <mat-form-field appearance="fill">
            <mat-label>Data Lindjes</mat-label>
            <input matInput [matDatepicker]="picker" [(ngModel)]="ditelindja">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker touchUi #picker startView="multi-year"  [startAt]="startDate"></mat-datepicker>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field appearance="fill">
            <mat-label>Celulari</mat-label>
            <input type="text"
                   value="{{celulari}}"
                   matInput >
          </mat-form-field>
        </td>
      </tr>

      <tr>
        <td>
          <mat-form-field  appearance="fill">
            <mat-label>Email Adresa </mat-label>
            <input type="text"
                   value="{{email}}"
                   matInput disabled>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field appearance="fill">
            <mat-label>Emri Perdoruesit</mat-label>
            <input  type="text"
                    value="{{username}}"
                    matInput disabled>
          </mat-form-field>
        </td>
      </tr>

      <tr>
        <td colspan="2" class="mobile">
          <button type="submit" class="btn btn-blue">Perditso te dhenat</button>
        </td>
      </tr>
    </table>
  </div>
  </div>






