.myLogo:hover {
    background: url(/assets/images/logof.svg);
    width: 70px;
}

.mylogo {
    width: 80px;
}

.navbar-nav {
    padding: 10px
}

.navbar {
    padding: 30px;
    height: 70px;
    box-shadow: rgb(231, 222, 222) 1px 1px 1px 1px;
}

.nav-link.active {
    font-weight: bold;
    text-decoration: underline 4px;
    text-underline-offset: 7px;
    text-decoration-color: #0B5ED7;
}

.nav-link:hover {
    font-weight: 600;
    text-decoration: underline 4px;
    text-underline-offset: 5px;
    text-decoration-color: #0B5ED7;
}

.example-form {
    width: 90%;
    align-items: center;
    margin: auto;
    padding: 10px;
    border-radius: 0px 0px 10px 10px;
}

::ng-deep.mat-form-field-underline {
    /*change color of underline*/
    background-color: #0B5ED7 !important;
    width: 1000px;
}

::ng-deep.mat-focused .mat-form-field-label {
    /*change color of label*/
    color: #0B5ED7 !important;
}

::ng-deep.mat-form-field {
    /*change color of underline*/
    width: 100% !important;
}

@media screen and (max-width: 991px) {
    .navbar {
        padding: 20px;
        height: 90px;
        box-shadow: rgb(231, 222, 222) 1px 1px 1px 1px;
    }
    .navbar-collapse{
        flex-basis: 100%;
        flex-grow: 1;
        align-items: center;
        background-color: whitesmoke;
        margin-top:16px;
        width: 100%;
    }
    
}