
<header>

    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <a class="navbar-brand" href="#" routerLink="/"> <img src="../../assets/images/logo.png" class="mylogo"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

        <div class="navbar-collapse collapse"  id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto ">
                <li class="nav-item">
                    <a class="nav-link"  (click)="ToggleNavBar()"routerLink="/">
                      <img src="https://img.icons8.com/ios/50/000000/top-menu.png" class="menuicon"/>
                      Kryefaqja  <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active"  (click)="showLoader(); ToggleNavBar()" routerLink="oraret">
                      <img src="https://img.icons8.com/ios/50/000000/planner.png" class="menuicon"/>
                      Rezervo</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" (click)="ToggleNavBar()" routerLink="login">
                      <img src="https://img.icons8.com/ios/50/000000/check-lock.png" class="menuicon"/>
                      Logohu</a>


                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" routerLinkActive="active" (click)="ToggleNavBar()" routerLink="register-user">
                      <img src="https://img.icons8.com/ios/50/000000/edit-user-male.png" class="menuicon"/>
                      Regjistrohu</a>
                </li>
              <li class="nav-item">
                <a class="nav-link" href="#" (click)="ToggleNavBar()" routerLink="board-user" routerLinkActive="active">
                  <img src="https://img.icons8.com/ios/50/000000/security-user-male.png" class="menuicon"/>
                  Profili im</a>
              </li>

            </ul>

        </div>
    </nav>
    <!--Navbar content #end-->

</header>




