.menuicon{
  width: 22px;
  margin-bottom: 2px;
}

.mylogo {
  width: 80px;
}

.navbar-nav {
  padding: 15px
}

.navbar {
  padding: 30px;
  height: 70px;
  box-shadow: rgb(231, 222, 222) 1px 1px 1px 1px;
  font-weight: 400;
  text-decoration-thickness: 5%;

}
.nav-link.active {
  font-weight: 500;
  border-bottom: 1px solid #000000;
}
.navbar-light .navbar-nav .nav-link:hover {
  color:#0e3c89;
}

.navbar-light .navbar-toggler{
  border: none;
}

.navbar-light .navbar-nav .nav-link{
  color:#000000;
}
.navbar-toggler-icon{
  width: 20px;
  height: 2px;
  background: #0e3c89;
}
.navbar-toggler-icon:before {
  display: block;
  content: "";
  width: 32px;
  height: 2px;
  box-shadow: 0 -8px 0 0 #0e3c89, 0 8px 0 0 #0e3c89;
}
.example-form {
    width: 90%;
    align-items: center;
    margin: auto;
    padding: 10px;
    border-radius: 0px 0px 10px 10px;
}

::ng-deep.mat-form-field-underline {
    /*change color of underline*/
    background-color: #0B5ED7 !important;
    width: 1000px;
}

::ng-deep.mat-focused .mat-form-field-label {
    /*change color of label*/
    color: #0B5ED7 !important;
}

::ng-deep.mat-form-field {
    /*change color of underline*/
    width: 100% !important;
}

@media screen and (max-width: 991px) {
    .navbar {
        padding: 20px;
        height: 70px;
        box-shadow: rgb(231, 222, 222) 1px 1px 1px 1px;

    }

    .navbar-collapse{
        flex-basis: 100%;
        flex-grow: 1;
        align-items: center;
        background-color: whitesmoke;
        margin-top:7px;
        margin-left: -20px;
        margin-right: -20px;
        padding:10px;
        border-bottom:5px solid #1881FF;
        height: 100vh;


    }
    .navbar-brand{
        display: inline-block;
        margin-right: 1rem;
        font-size: 1.25rem;
        margin-top:-10px;
        white-space: nowrap;
  }
    .navbar-toggler-icon{
        margin-top:-10px;
  }
    .nav-item{
      padding: 10px;
      font-size: 25px;
    }
    .menuicon{
      width: 25px;
    }
  .nav-link.active {
    font-weight: 500;
    border-bottom: 1px solid #000000;

  }

}
