<div class="col-lg-6"></div>
<div class="container-fluid mx-auto">
    <div class="card card0 border-0">
        <div class="row d-flex">
            <div class="col-lg-6">
                <div class="card1 pb-5">
                    <div class="row px-3 justify-content-center border-line"> <img src="../../assets/images/preview.jpg" class="image"> </div>
                </div>
            </div>
            <!--Forma-->
            <div class="col-lg-6">
                <form
                name="form"
                *ngIf="!isLoggedIn"
                (ngSubmit)="f.form.valid && onSubmit()"
                #f="ngForm"
                novalidate>
                    <div class="card2 card border-0 px-4 py-5">
                        <div class="row mb-4 px-3">
                        <h5 class="mb-0">Logohu</h5>
                        </div>
                        <div class="row px-3 mb-4">
                        <div class="line"></div>
                        </div>

                        <div class="row px-3 form-group">
                        <div class="example-form">
                            <mat-form-field class="example-full-width" appearance="fill">
                                <mat-label>Emri Perdoruesit</mat-label>
                                <input matInput
                                type="text"
                                minlength="2"
                                name="username"
                                [(ngModel)]="form.username"
                                #username="ngModel"
                                #userRef
                                placeholder="Sheno Emrin e Perdoruesit"
                                required>
                              </mat-form-field>
                        </div>
                        </div>

                        <div class="row px-3 form-group">
                            <div class="example-form">
                                <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label>Fjalekalimi</mat-label>
                                    <input matInput
                                    type="password"
                                    name="password"
                                    [type]="hideElement ? 'password' : 'text'"
                                    [(ngModel)]="form.password"
                                    required minlength="6"
                                    placeholder="Sheno Fjalkalimin"
                                    autocomplete="on">
                                    <!--eye icon-->
                                    <mat-icon class="mycursor" matSuffix (click)="hideElement = !hideElement">
                                    {{hideElement ? 'visibility_off' : 'visibility'}}
                                    </mat-icon>
                                  </mat-form-field>
                              <div class="d-block">
                              <a href="#" routerLink="/forgotpassword" class="decoration-text uppermargin">Kam harruar Fjalekalimin</a>
                            </div>
                            </div>

                        </div>
                      <br>
                          <div
                           role="alert"
                           *ngIf="f.submitted && isLoginFailed"
                           >
                            {{ errorMessage }}
                          </div>

                        <div class="row mb-3 px-3">
                            <button type="submit"
                            class="btn btn-blue text-center"
                            [disabled]="!f.form.valid">
                            Kycu
                            </button>
                            </div>
                      <div class="example-form">
                        <hr>
                        <label> Nuk keni llogari </label>

                        <a href="#" routerLink="/register-user" class="decoration-text">
                          <mat-label class="px-1 font-w">Regjistrohu tani</mat-label> </a>
                      </div>

                    </div>
                </form>
            </div>
        </div>

    </div>
</div>


