<div class="container-fluid mx-auto">
    <div class="card card0 border-0">
        <div class="row d-flex">
            <div class="col-lg-6">
                <div class="card1 pb-5">
                    <div class="row px-3 justify-content-center border-line"> <img src="../../assets/images/preview.jpg" class="image"> </div>
                </div>
            </div>

            <!--Forma-->
            <div class="col-lg-6">
                <form 
                name="form" 
                novalidate>
                    <div class="card2 card border-0 px-4 py-5">
                        <div class="row mb-4 px-3">
                        <h6 class="mb-0 mr-4 mt-2">Reseto Fjalekalimin</h6>
                        </div>
                        <div class="row px-3 mb-4">
                        <div class="line"></div>
                        </div>
                        <div class="row px-3 form-group">
                            <label for="username" class="mb-1">
                            <h6 class="mb-0 text-sm">Email adresa juaj
                       
                            </h6>
                        </label>
                            <input class="mb-4 form-control"
                            type="text"
                            placeholder="Enter a valid username">
                        </div>
            
                        
    
                        <div class="row mb-3 px-3">
                            <button type="submit" class="btn btn-blue text-center">Reseto</button> </div>
                     
                    </div>
                   
                </form>
            </div>
        </div>

    </div>
</div>