.example-additional-selection {
    opacity: 0.75;
    font-size: 0.75em;
  }
<<<<<<< HEAD
=======
  
  .demo-inline-calendar-card {
    width: 300px;
  }
>>>>>>> f7a56d65762eae71b62807a966345131d94b66a9
  