<div class="container position-relative" >
  <!--marr nga linku https://napster2210.github.io/ngx-spinner/-->

  <ngx-spinner bdColor = "rgba(255,255,255,0.7)" size = "medium" color = "#081540" type = "timer"[fullScreen] = "false">
    <p style="color:#081540" >Po ngarkohet</p>
  </ngx-spinner>
  <!--Preloader i lokalizuar vetem ne komponent ( tek oraret ) -->
    <div class="col-xs-12 mt-40">
    <mat-horizontal-stepper #stepper>
      <!-- stepp1 -->
      <mat-step [stepControl]="firstFormGroup" >
              <form [formGroup]="firstFormGroup" >
                <div class="container-fluid mx-auto">
                  <div class="card card0 border-0">
                      <div class="row d-flex">
                          <div class="col-lg-6">
                              <div class="card1 pb-5 ">
                                <br>
                                <div class="row px-3 justify-content-center ">
                                  <div class="alert alert-secondary" role="alert">
                                      <h4 class="alert-heading">Si ta realizojme nje termin</h4>
                                      <hr>
                                      <h6><b>Hapi 1:</b> Zgjedh Sherbimin</h6>
                                      <h6><b>Hapi 2: </b>Zgjedh Punetorin/en</h6>
                                      <h6><b>Hapi 3:</b> Zgjedh Daten pastaj oren</h6>
                                      <h6><b>Hapi 4:</b> Sheno te dhenat tuaja</h6>
                                      <h6><b>Hapi 5:</b> Gjithqka gati per 60 sekonda</h6>
                                      <hr>
                                      <p class="mw-100">Ne ju mundesojm ta realizoni rezervimin tuaj ne cdo kohe.</p>
                                    </div>
                              </div>
                              </div>
                          </div>

                          <div class="col-lg-6">
                            <div class="card1 pb-5 posht">
                                <div class="row px-3 justify-content-center">
                                <ng-template matStepLabel>Info</ng-template>
                                <br>

                                <mat-form-field appearance="fill" class="demo-inline-calendar-card">
                                <mat-label>Zgjedhe Sherbimin</mat-label>

                                  <mat-select  [(ngModel)]="sherbimiZgj" formControlName="sherbimiZgjedhur" >
                                    <mat-option *ngFor="let sherbim of sherbimi"  [value]="sherbim">
                                      {{sherbim}}
                                    </mat-option >
                                  </mat-select>
                                </mat-form-field>

                                <mat-form-field appearance="fill" class="demo-inline-calendar-card">
                                  <mat-label>Zgjedhe Punetorin</mat-label>
                                    <mat-select [(ngModel)]="puntoriZgj"  formControlName="puntoriZgjedhur" required>
                                      <mat-option *ngFor="let puntor of punetori"  [value]="puntor">
                                        {{puntor}}
                                      </mat-option >
                                    </mat-select>
                                </mat-form-field>
                                <div>
                                  <button class="btn btn-blue text-center" matStepperNext [disabled]="!puntoriZgj" (click)="openSnackBar()">
                                    Vazhdo
                                  </button>
                                </div>
                            </div>
                            </div>
                            </div>
                          </div>
                      </div>
                  </div>
              </form>
            </mat-step>
            <!--STEPP1 END-->

  <!-- stepp2 -->
  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup" >
      <div class="container-fluid mx-auto">
        <div class="card card0 border-0">
            <div class="row d-flex">
                <div class="col-lg-6">
                    <div class="card1 pb-5">
                      <br>
                        <div class="row px-3 justify-content-center border-line">
                        <mat-card  class="demo-inline-calendar-card" >
                        <mat-calendar (click)="onClickDate()"
                                      [(selected)]="dataZgjedhur">
                        </mat-calendar>


                          <input type="hidden"
                                 formControlName="dataZgjedhur"
                                 ngModel="{{dataZgjedhur|date:'yyyy-MM-dd'}}" disabled>
                      </mat-card>


                    </div>
                    </div>
                </div>

                <div class="col-lg-6">
                  <div class="card1 pb-5 posht">
                      <div class="row px-3 justify-content-center">
                      <ng-template matStepLabel>Hapi 1</ng-template>
                      <mat-form-field appearance="fill"
                      class="demo-inline-calendar-card">
                      <mat-label>Zgjedhe orarin</mat-label>
                        <mat-select  [(ngModel)]="selektori" formControlName="orarizgjedhur" required>

                          <mat-option *ngFor="let topping of oraret" [value]="topping">
                            {{topping }}
                          </mat-option >
                        </mat-select>
                      </mat-form-field>

                        <br>
                      <div>
                        <table>
                          <tr>
                            <td class="btn-kthehu"><button name="kthehu" class="btn btn-brown text-center" matStepperPrevious>Kthehu</button> </td>
                          <td class="btn-ok"><button class="btn-blue" matStepperNext [disabled]="!selektori">Vazhdo</button></td>
                          </tr>

                        </table>&nbsp;
                      </div>

                  </div>
                  </div>
                  </div>
                </div>
            </div>
        </div>
    </form>
  </mat-step>
  <!--STEPP2 END-->




    <!-- stepp3 -->
    <mat-step [stepControl]="thirdFormGroup" >
      <form [formGroup]="thirdFormGroup"  >
        <div class="container-fluid mx-auto">
          <div class="card card0 border-0">
              <div class="row d-flex">
                  <div class="col-lg-6">
                      <div class="card1 pb-5">
                        <br>
                          <div class="row px-3 justify-content-center border-line">
                            <div class="alert alert-secondary" role="alert">
                              <h4 class="alert-heading">Pothuajse Gati</h4>
                              <hr>
                              <p>Ploteso te dhenat tuaja, Konfrimo ato dhe shtyp butonin rezervo</p>

                            <b>Sherbimi</b>
                              <b class="detajet">
                                {{sherbimiZgj}}
                              </b>
                            <br>
                            <b>Punetori</b>
                              <b class="detajet">
                                {{puntoriZgj}}
                              </b>
                            <br>
                            <b>Data dhe ora:</b>
                            <b class="detajet">
                            {{dataZgjedhur| date : 'dd-MM-yyyy'}}  {{selektori}}
                            </b>
                            <br>
                            <b>Emri dhe Mbiemri</b>
                            <b class="detajet"> {{emri.value}} {{mbiemri.value}}  </b>

                            <br>
                            <b>Emaili:</b>
                            <b class="detajet">
                            {{email.value}}
                            </b>
                            <br>
                            <b>Nr Celularit:</b>
                            <b class="detajet">
                            {{nr.value}}
                            </b>
                          </div>
                      </div>
                      </div>
                  </div>

                  <div class="col-lg-6">
                    <div class="card1 pb-5 posht">
                        <div class="row px-3 justify-content-center">
                        <ng-template matStepLabel>Hapi 2</ng-template>
                        <br>
                        <table class="example-full-width" cellspacing="0">
                          <tr>
                          <td class="spc"><mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Emri </mat-label>
                            <input type="text"
                            minlength="3"
                             maxlength="15"
                             #emri matInput formControlName="emri"
                             required>
                          </mat-form-field></td>
                          <td><mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Mbiemri</mat-label>
                            <input type="text"
                             formControlName="mbiemri"
                             minlength="3"
                             maxlength="15"
                             #mbiemri
                              matInput required>
                          </mat-form-field></td>
                        </tr>
                          </table>


                        <table class="example-full-width" aria-colspan="2">
                          <tr>
                          <td><mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Email Adresa </mat-label>
                            <input type="email"
                            #email
                            minlength="5"
                            maxlength="35" formControlName="email" matInput required>
                          </mat-form-field></td>
                        </tr>

                        <tr>
                          <td><mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Numri Celularit</mat-label>
                            <input type="text"  #nr placeholder="+383 / + 386"
                            minlength="5"
                            maxlength="15"
                            formControlName="numri"
                            matInput (keypress)="numericOnly($event)"
                           >
                          </mat-form-field></td>
                        </tr>
                      </table>
                        <div>
                          <table>
                          <tr>
                            <td class="btn-kthehu"><button name="kthehu" class="btn btn-brown text-center" matStepperPrevious>Kthehu</button> </td>
                            <td class="btn-ok"><button name="rezervo" type="submit" (click)="submit()" class="btn btn-blue text-center" matStepperNext >Rezervo Terminin</button></td>
                          </tr>
                          </table>
                        </div>
                    </div>
                    </div>
                    </div>
                  </div>
              </div>
          </div>
      </form>
    </mat-step>
    <!--STEPP3 END-->
            <mat-step>
              <ng-template matStepLabel>Gati</ng-template>

              <br> <br>
              <div class="row px-3 justify-content-center border-line">
                <div class="alert alert-primiary" role="alert">
                  <br>
                  <div *ngIf="realizmiKorrekt">
              <img src="../../assets/images/Success.png" width="100px" class="imgcenter">
              <br>
              <h4>{{realizimiTerminit}}</h4>
              <hr>
                  </div>
                  <div *ngIf="realizimiFatal">
                    <img src="../../assets/images/error.png" width="100px" class="imgcenter">
                    <br>
                    <h4>{{deshtimiTerminit}}</h4>
                    <hr>
                  </div>

              <button  class="btn btn-blue imgcenter" (click)="stepper.reset()">Rezervo Perseri</button>
              </div>
              </div>
            </mat-step>
          </mat-horizontal-stepper>

    </div>
</div>






