/*body { padding-top: 100px; } */
body{font-family:Roboto, "Helvetica Neue", sans-serif}
#page-container {
    position: relative;
    min-height: 100vh;
    padding-top: 70px;
  }
#toast-container > div {
  opacity:1;
}
  #content-wrap {
    padding-bottom: 2.5rem;    /* Footer height */
  }
  .btn-blue  {
    background-color: #1A237E;
    width: 280px;
    height: 50px;
    color: #fff;
    border-radius: 2px;
    padding: 8px;
}

.btn-blue:hover {
  background-color: rgb(36, 38, 168);
  cursor: pointer;
  color:white;
}
.btn-brown {
  background-color: #353646;
  height: 50px;
  color: #fff;
  border-radius: 2px;
  padding: 8px;
  width: 200px;
}
.btn-kthehu{
  width:100vh !important;
}

.btn-brown:hover {
  background-color: #4a4b63;
  color:white;
}
.d-inline-block{
  font-weight: 500;
  font-size:14px;
  color:red;
  float:right;
}
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.preloader{
  left: 50%;
  margin-left: -4em;
}

::ng-deep .mat-form-field-underline {
  display: none;
}
