<div class="container-fluid mx-auto">
    <div class="card card0 border-0">
        <div class="row d-flex">
            <div class="col-lg-6">
                <div class="card1 pb-5">
                    <div class="row px-3 justify-content-center border-line"> <img src="../../assets/images/preview.jpg" class="image"> </div>
                </div>
            </div>

            <div class="col-lg-6">
                <form 
                name="form"
                *ngIf="!isSuccessful"
                (ngSubmit)="f.form.valid && onSubmit()"
                #f="ngForm"
                novalidate>

                <div class="card2 card border-0 px-4 py-5">
                    <div class="row mb-4 px-3">
                    <h6 class="mb-0 mr-4 mt-2">Regjistrohu</h6>
                    </div>
                        
                        <div class="row px-3 mb-4">
                            <div class="line"> </div>
                        </div>
                             
                        <div class=" form-group">
                            <label for="namesurname" class="mb-1">
                            <h6 class="mb-0 text-sm">Emri dhe Mbiemri    
                            </h6>     
                            </label>       

                        <div class="d-inline-block"
                        *ngIf="namesurname.invalid && namesurname.touched"> 
                        <div *ngIf="namesurname.errors.required">Sheno te dhenat</div>
                        <div *ngIf="namesurname.errors.minlength">Duhet te ket me shum se 5 karaktere</div>
                        </div>
                            <input 
                            type="text"
                            class="form-control"
                            name="namesurname"
                            [(ngModel)]="form.namesurname"                           
                            minlength="5"
                            maxlength="20"
                            #namesurname="ngModel"                                          
                            placeholder="Sheno Emrin dhe Mbiemri tuaj"
                            required>               
                        </div>

                        <div class=" form-group">
                            <label for="namesurname" class="mb-1">
                            <h6 class="mb-0 text-sm">Datelindja    
                            </h6>     
                            </label>       

                        <div class="d-inline-block"
                        *ngIf="birthday.invalid && birthday.touched"> 
                        <div *ngIf="birthday.errors.required">Sheno te dhenat</div>
                        
                        </div>
                            <input 
                            type="date"
                            class="form-control"
                            name="birthday"
                            [(ngModel)]="form.birthday"                           
                            #birthday="ngModel"                                          
                            required>               
                        </div>

                        <div class=" form-group">
                            <label for="namesurname" class="mb-1">
                            <h6 class="mb-0 text-sm">Email Adressa    
                            </h6>     
                            </label>       

                        <div class="d-inline-block"
                        *ngIf="email.invalid && email.touched"> 
                        <div *ngIf="email.errors.required">Sheno te dhenat</div>
                        <div *ngIf="email.errors.email">Sheno emailin e sakt</div>
                        </div>
                            <input 
                            type="text"
                            class="form-control"
                            name="email"
                            [(ngModel)]="form.email"                           
                            #email="ngModel"                                          
                            placeholder="Sheno emailin tuaj"
                            required email>               
                        </div>

                        <div class=" form-group">
                            <label for="celulari" class="mb-1">
                            <h6 class="mb-0 text-sm"> Celulari    
                            </h6>     
                            </label>       

                        <div class="d-inline-block"
                        *ngIf="celulari.invalid && celulari.touched"> 
                        <div *ngIf="celulari.errors.required">Sheno te dhenat</div>
                        <div *ngIf="celulari.errors.minlength">Duhet te jene gjithsej 9 numra</div>
                        </div>
                            <input 
                            type="text"
                            (keypress)="keyPressNumbers($event)"
                            class="form-control"
                            name="celulari"
                            [(ngModel)]="form.celulari"                           
                            minlength="8"
                            maxlength="9"
                            [(ngModel)]="numri"
                            #celulari="ngModel"                                          
                            placeholder="Shembull: 044 123 123"
                            required>               
                        </div>
                        
                        <div class=" form-group">
                            <label for="username" class="mb-1">
                            <h6 class="mb-0 text-sm">Username  
                            </h6>     
                            </label>       
                            <div class="d-inline-block"
                            *ngIf="username.invalid && username.touched"> 
                            <div *ngIf="username.errors.required">Sheno te dhenat</div>
                            <div *ngIf="username.errors.minlength">Duhet te ket me shume se 3 karaktere</div>
                            </div>
                            <input 
                            type="text"
                            class="form-control"
                            name="username"
                            [(ngModel)]="form.username"                           
                            minlength="3"
                            maxlength="20"
                            #username="ngModel"                                          
                            placeholder="Sheno Emrin e Perdoruesit"
                            required>               
                        </div>
                        <div class=" form-group">
                        <label for="namesurname" class="mb-1">
                        <h6 class="mb-0 text-sm">Password  
                        </h6>     
                        </label>       

                    <div class="d-inline-block"
                    *ngIf="password.invalid && password.touched"> 
                    <div *ngIf="password.errors.required">Sheno te dhenat</div>
                    <div *ngIf="password.errors.minlength">Duhet te ket me shum se 5 karaktere</div>
                    </div>
                        <input 
                        type="password"
                        class="form-control"
                        name="password"
                        [(ngModel)]="form.password"                           
                        minlength="6"
                        maxlength="20"
                        #password="ngModel"                                          
                        placeholder="Sheno Fjalekalimi"
                        required >               
                    </div>

                        <div class="row mb-3 px-3">
                        <button class="btn btn-blue text-center">Regjistrohu</button> </div>
                        
                        <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
                        Regjistrimi Deshtoi!<br />
                        {{ errorMessage }}        
                        </div>
                   
                        
                            
                    </div>
                </form>
                <div *ngIf="isSuccessful" (click)="openSnackBar()">
                  </div>
              
            </div>
        </div>

    </div>
</div>