
<div class="card card-body modifcard">
  <div class="column1">
    <table>
      <tr>
        <td>
          <mat-form-field  appearance="fill">
            <mat-label>Fjalkalimi Aktual </mat-label>
            <input type="password"
                   [type]="hideElement ? 'password' : 'text'"
                   matInput
                   autocomplete="on">
            <mat-icon class="mycursor" matSuffix (click)="hideElement = !hideElement">
              {{hideElement ? 'visibility_off' : 'visibility'}}
            </mat-icon>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field appearance="fill">
            <mat-label>Fjalkalimi ri</mat-label>
            <input type="password"
                   matInput
                   [type]="hideElement2 ? 'password' : 'text'"
                   autocomplete="on">
            <mat-icon class="mycursor" matSuffix (click)="hideElement2 = !hideElement2">
              {{hideElement2 ? 'visibility_off' : 'visibility'}}
            </mat-icon>
          </mat-form-field>
        </td>
      </tr>




      <tr>
        <td colspan="2" class="mobile">
          <button type="submit" class="btn btn-blue">Ndrysho Fjalkalimin</button>
        </td>
      </tr>
    </table>
  </div>
</div>

